@media (max-width: 400px) {
    .custom-width-booking {
        padding: 20px;
    }
    .fs-schedule-wg-day {
        width: 35px;
        padding: 5px
    }
    .fs-schedule-wg-today-button.btn {
        margin-right: 0
    }
    .fs-schedule-wg-period {
        font-size: 14px
    }
    .fs-schedule-wg-period a.btn {
        display: inline-block;
        width: 35px;
        padding: 7px;
        margin: 0
    }
    .has-debt {
        margin-top: 120px
    }
    #fs-club-tabs a {
        display: block;
        float: none;
        text-decoration: none;
        text-align: center
    }
    .fs-modal-chain-title,
    .fs-modal-chain-time {
        font-size: 1.25em;
    }
    .fs-schedule-wg__loading {
        height: 400px
    }
    .fs-schedule-wg_reg .btn.fs-schedule-wg-login-button,
    .fs-schedule-wg_reg .btn.fs-schedule-wg-logout-button {
        position: relative;
        margin-bottom: 0;
        top: auto;
        right: auto;
    }
}

@media (max-width:1199px) {
    .fs-schedule-wg_reg .fs-schedule-wg__userinfo {
        padding-left: 40px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav {
        margin-left: 40px;
    }
    .is-fullwidth .fs-schedule-wg_reg .fs-schedule-wg__body {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width:991px){
    .fs-schedule-wg-hour,.fs-day{
        display: table-cell!important;
    }
}

@media (max-width:991px) {
    .fs-schedule-wg-days {
        display: block;
    }
   
    .fs-schedule-wg-print-wrapper{
        display: none;
    }
    
    thead tr {
        display: none !important;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__body {
        padding-left: 15px;
        padding-right: 15px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__userinfo {
        float: none;
        padding-left: 15px;
        padding-right: 80px;
        width: auto;
        border: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__userinfo nav ul {
        left: -60px;
        right: auto;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin-left: 0;
        padding-top: 0;
        font-weight: 400;
        line-height: 1.43;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav ul {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: -.5em;
        padding: 1.25em 25px;
        width: 230px;
        border: 1px solid;
        border-radius: 4px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav li {
        display: block;
        margin-right: 0;
        padding: .5em 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav a {
        padding-bottom: 0;
    }
    /** disable hover */
    .fs-schedule-wg_reg .fs-schedule-wg__nav:hover ul,
    .fs-schedule-wg_reg .fs-schedule-wg__userinfo nav:hover ul {
        display: none !important;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav ul.opened__menu,
    .fs-schedule-wg_reg .fs-schedule-wg__userinfo nav ul.opened__menu {
        display: block !important;
    }
    /** disable hover */
    .fs-schedule-wg_reg .fs-schedule-wg__nav li ul {
        position: static;
        top: 0;
        margin-top: 0;
        padding: .75em 0 0;
        width: auto;
        border: 0 !important;
        box-shadow: none !important;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav li:hover ul {
        display: block !important;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__nav__toggle {
        display: block;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__content {
        padding-top: 15%;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__aside {
        float: none;
        width: auto;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__aside__nav {
        position: relative;
        z-index: 13;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__aside__nav > ul {
        height: auto;
        border-radius: 4px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__aside__nav li {
        padding: 1em 30px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__aside__nav__placeholder {
        display: block;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__asided {
        margin-left: 0;
    }

    .fs-schedule-wg_reg .fs-schedule-wg__services__item__header {
        padding: 1.5em 15px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__status {
        margin-right: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__status span {
        margin-right: 10px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__title {
        margin-right: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__meta {
        margin-right: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__toggle {
        right: 0;
        margin-top: -25px;
        border: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__section {
        padding: .75em 15px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__section span {
        margin-right: 15px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__section .fs-schedule-wg__lnk_details {
        position: absolute;
        top: 0;
        right: 0;
        margin: -.4em -15px 0 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__section .fs-schedule-wg__services__item__meta {
        margin: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header {
        padding-bottom: 2.5em;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header:before {
        top: .65em;
        left: 15px;
        margin-top: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header .fs-schedule-wg__services__item__subtitle {
        margin-left: 40px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header .fs-schedule-wg__services__item__subtitle a {
        position: absolute;
        bottom: 1em;
        left: 55px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header .fs-schedule-wg__services__item__meta {
        margin-left: 40px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__lnk_details .fa {
        display: inline-block;
        font-size: 20px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__lnk_details span {
        display: none !important;
    }

    .fs-schedule-wg_reg .fs-schedule-wg__shop__item {
        float: none;
        width: 100%;
    }

    .is-fullwidth .fs-schedule-wg_reg .fs-schedule-wg__body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .fs-schedule-wg_reg .modal-header,
    .fs-schedule-wg_reg .modal-body,
    .fs-schedule-wg_reg .modal-footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .fs-schedule-wg_reg .fs-schedule-wg__menu-inner li a {
        display: block
    }
}

@media (max-width: 767px) {
    .fs-schedule-wg_reg .fs-schedule-wg__account__wallet {
        padding: 20px 20px 30px;
        text-align: center;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__wallet .btn {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__sum {
        float: none;
        margin-bottom: 2.5em;
        padding-top: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__operations {
        padding: 15px 20px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__operation__time {
        float: none;
        width: auto;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__operation__title {
        margin-left: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__lessons .fs-schedule-wg__account__operation {
        padding-bottom: 2.25em;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__lessons .fs-schedule-wg__account__operation + .fs-schedule-wg__account__operation {
        margin-top: 1em;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__lessons .fs-schedule-wg__account__operation__title {
        margin-right: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__lessons .fs-schedule-wg__account__operation__sum {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: left;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__item {
        padding: 20px;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__time {
        margin-bottom: 1em;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__time:before {
        display: none;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__time dl,
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__time dl + dl {
        float: none;
        padding: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__time dt {
        margin-right: 0;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__time dd {
        float: right;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__info {
        float: none;
        max-width: 100%;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__account__history__stats {
        float: none;
        margin: 1em 0 0 -5px;
        padding: 20px 0 0 80px;
        background-position: 0 70%;
    }
}

@media (min-width: 992px) {
    .modal-md {
        max-width: 600px;
    }
}


@media (max-width:991px) {
    .fs-schedule-wg_reg .fs-schedule-wg__aside__nav > ul {
        box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    }
}

@media (max-width:991px) {
    .fs-schedule-wg_reg .fs-schedule-wg__nav ul {
        background-color: #fff;
        border-color: #e7e7e7;
    }
    .fs-schedule-wg_reg .fs-schedule-wg__aside__nav > ul {
        background-color: #fff;
    }
}

@media (max-width: 1199px) {
    .fs-green-fixed {
        width: 930px;
        margin-left: -465px
    }
}

@media (max-width: 991px) {
/*
    tr td {
        display: none;
    }
    tr td:nth-child(2) {
        display: block;
    }
*/
    .fs-schedule-wg-filter-col {
        width: 50% !important;
        position: relative;
        z-index: 100
    }
    .fs-schedule-wg-filter-col:nth-child(1) {
        z-index: 110
    }
    .fs-schedule-wg-filter-col:nth-child(2) {
        z-index: 109
    }
    .fs-schedule-wg-filter-col:nth-child(3) {
        z-index: 108
    }
    .fs-schedule-wg-filter-col:nth-child(4) {
        z-index: 107
    }
    .fs-schedule-wg-filter-col:nth-child(5) {
        z-index: 106
    }
    .fs-schedule-wg-filter-col:nth-child(6) {
        z-index: 105
    }
    .fs-green-fixed {
        width: 690px;
        margin-left: -345px
    }
    .fs-schedule-wg-table tbody td {
        padding: 0 !important
    }
    .fs-schedule-wg [data-pwd-toggle] {
        visibility: visible;
    }
}

@media (max-width: 900px) {
    .fs-schedule-wg-table td.current {
        background: #fff !important
    }
}

@media (max-width: 767px) {
    .fs-schedule-wg-print-wrapper,
    .fs-schedule-wg-appl-wrapper {
        display: none;
    }
    .fs-schedule-wg-legend span {
        display: block;
        text-align: left
    }
    .fs-schedule-wg-filter-col {
        width: 100% !important;
        display: block;
        float: none
    }
    .fs-green-fixed {
        width: 100%;
        margin-left: 0;
        left: 0
    }
    .has-debt {
        margin-top: 100px
    }
    .fs-schedule-wg-dropdown-value {
        margin: 5px 2%
    }
    .fs-schedule-wg-dropdown-options {
        position: relative
    }
    .fs-schedule-wg-settings {
        padding-bottom: 15px;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
    }
    .fs-schedule-wg__after-schedule-text {
        font-size: 12px
    }
    .fs-schedule-wg_reg .modal-footer {
        text-align: center
    }
    .fs-schedule-wg_reg .modal-footer_split .btn.modal-button.btn-inline {
        display: block;
        margin-bottom: 10px;
    }
    .fs-schedule-wg_reg .modal-footer .btn {
        width: 175px;
    }
    .fs-modal-chain-title,
    .fs-modal-chain-time {
        font-size: 1.5em;
    }
    .fs-schedule-wg_reg .btn {
        box-shadow: 0 7px 25px -10px #d3222c;
    }
    .fs-schedule-wg__loading {
        height: 450px
    }
    .fs-schedule-wg_reg .form-booking .form-booking-left {
        display: block;
        float: none;
        width: 100%;
    }
    .fs-schedule-wg_reg .form-booking .form-booking-right {
        display: block;
        float: none;
        width: 100%;
    }
    .fs-schedule-wg_reg .form-booking .form-booking-right .btn {
        margin-top: 15px;
    }
}