*{
    background: none!important;
    color: #333!important;
    border-color: #fff!important;
    border-radius: 0px!important;
    box-shadow: none!important;
}
.loader-bcg{
    background: #fff!important;
}
/*
body{
    min-width: 1400px
}
*/
.fs-schedule-wg-settings,.fs-schedule-wg-filter{
    display: none!important;
}

.fs-schedule-cell{
    border: solid 1px #333!important;
}

.fs-schedule-wg-cell-title{
    font-size: 12px;
}
.fs-schedule-wg-cell-time{
    font-size: 10px;
}
.fs-schedule-wg-hour{
   display: none;
}
.fs-schedule-cell-wrap{
    page-break-after: auto;
}

h1{
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

    .fs-schedule-wg-hour,.fs-day{
        display: table-cell!important;
    }
