.fs-schedule-wg-days {
    display: none;
}

.ng-invalid-required.ng-touched {
    border-color: #d4232c !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.fs-schedule-wg-filter-col {
    width: 33%;
}

.fs-schedule-wg {
    min-width: 320px
}

.fs-schedule-wg a {
    text-decoration: underline
}

.fs-schedule-wg a:hover {
    text-decoration: none;
    opacity: .9
}

.fs-schedule-wg button,
.fs-schedule-wg input,
.fs-schedule-wg select,
.fs-schedule-wg textarea {
    font: inherit
}

.fs-schedule-wg .form-group {
    position: relative;
}

.fs-schedule-wg .form-group:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -.5em;
    font: normal normal normal 16px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fs-schedule-wg .form-group.has-success:before {
    content: '\f00c';
}

.fs-schedule-wg .form-group.has-danger:before {
    content: '\f071';
}

.fs-schedule-wg .form-control::-webkit-input-placeholder {
    color: rgba(43, 43, 43, .5)
}

.fs-schedule-wg .form-control:-moz-placeholder {
    color: rgba(43, 43, 43, .5)
}

.fs-schedule-wg .form-control::-moz-placeholder {
    color: rgba(43, 43, 43, .5)
}

.fs-schedule-wg .form-control:-ms-input-placeholder {
    color: rgba(43, 43, 43, .5)
}

.fs-schedule-wg [data-pwd-toggle] {
    visibility: hidden;
}

.fs-schedule-wg .form-group:hover [data-pwd-toggle],
.fs-schedule-wg .form-control:focus [data-pwd-toggle] {
    visibility: visible;
}

.fs-schedule-wg .form-group .fa {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -.5em;
    font-size: 24px;
    cursor: pointer;
    opacity: .2;
}

.fs-schedule-wg .form-group .fa-calendar {
    font-size: 20px;
    opacity: .6;
}

.fs-schedule-wg .has-success .fa,
.fs-schedule-wg .has-danger .fa {
    margin-right: 20px;
}

.fs-schedule-wg legend {
    display: block;
    margin-bottom: .5em;
    padding-top: .75em;
    font: inherit;
    text-transform: uppercase;
}

.fs-schedule-wg nav ul,
.fs-schedule-wg nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fs-schedule-wg nav li:before {
    background: none;
}

.fs-clearfix:after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.fs-schedule-wg_reg {
    padding: 20px 0;
    font: 14px/1.43 'Roboto', sans-serif;
}

.fs-schedule-wg_reg .fs-schedule-wg__body.fs-schedule-wg__guest {
    padding: 20px;
    padding-bottom: 10%;
}

.fs-schedule-wg_reg .fs-schedule-wg__body {
    position: relative;
    padding: 80px 12.5% 10%;
    border-radius: 5px;
}

.fs-schedule-wg_reg .fs-schedule-wg__header {
    position: absolute;
    z-index: 777;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-radius: 15px 15px 0 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo {
    float: right;
    padding-left: 60px;
    width: 310px;
    height: 80px;
    border-left: 2px solid;
}

.fs-schedule-wg_reg .fs-schedule-wg__user__login {
    padding-left: 10px;
    display: inline-block;
    margin-top: 30px;
    font-weight: 600;
    color: #d3222c;
    text-transform: uppercase;
    cursor: pointer;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo figure {
    float: left;
    margin-top: 18px;
    width: 44px;
    height: 44px;
    border: 1px solid;
    border-radius: 100%;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo__body {
    margin-left: 55px;
    margin-right: 15px;
    padding-top: 22px;
}

.fs-schedule-wg_reg .fs-schedule-wg__userbalance {
    display: block;
}

.fs-schedule-wg_reg .fs-schedule-wg__userbalance .fa {
    font-size: .9em;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav {
    position: relative;
    padding: 0 15px 1em 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav strong {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav strong span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav strong .fa {
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -.6em;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav ul {
    cursor: default;
    display: none;
    position: absolute;
    top: 100%;
    margin-top: -.5em;
    right: 0;
    padding: 1.25em 25px;
    width: 230px;
    border: 1px solid;
    border-radius: 4px;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav li {
    padding: .35em 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav a {
    text-decoration: none
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav a:hover {
    text-decoration: underline;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav:hover ul {
    display: block;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav {
    margin-left: 30px;
    padding-top: 33px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li {
    display: inline-block;
    position: relative;
    margin-right: 25px;
    padding-bottom: 4px;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav a {
    display: inline-block;
    padding-bottom: .65em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav .fa {
    margin-left: 6px;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: -4px;
    left: 0;
    padding: 1.25em 25px;
    width: 190px;
    border: 1px solid;
    font-weight: 400;
    line-height: 1.43;
    text-transform: none;
    border-radius: 4px;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li ul li {
    display: block;
    margin: 0;
    padding: .35em 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li ul a {
    display: inline;
    padding: 0;
    border: 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li:hover {
    z-index: 2;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li:hover ul {
    display: block;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle {
    display: none;
    position: relative;
    float: left;
    margin-top: 18px;
    width: 44px;
    height: 44px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 100%;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle i,
.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle i:before,
.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle i:after {
    position: absolute;
    left: 0;
    width: 20px;
    border-style: solid;
    border-width: 1px 0;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle i {
    top: 50%;
    left: 50%;
    margin: -1px -10px;
    border-style: solid;
    border-width: 1px 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle i:before {
    top: -5px;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle i:after {
    bottom: -5px;
}

.fs-schedule-wg_reg .fs-schedule-wg__content {
    margin: 0 auto;
    padding-top: 10%;
    max-width: 360px;
}

.fs-schedule-wg_reg .fs-schedule-wg__content:after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__title {
    margin-bottom: 2.5em;
    line-height: 1.71;
    text-align: center;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__title.at-left {
    margin-bottom: 1.5em;
    text-align: left;
}

.fs-schedule-wg_reg .fs-schedule-wg__footer {
    margin-top: 2em;
}

.fs-schedule-wg_reg .fs-schedule-wg__countdown {
    float: right;
    font-weight: 600;
    font-size: 1.29em;
    line-height: 1.125;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside {
    float: left;
    width: 170px;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav {
    margin-top: -1em;
    font-weight: 700;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li {
    position: relative;
    padding: 1em 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav a {
    display: block;
    margin-right: 30px;
    position: relative;
    text-decoration: none;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav .fa {
    position: absolute;
    top: 50%;
    right: -45px;
    margin-top: -21px;
    padding: 10px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li ul {
    display: none;
    margin-top: 1em;
    padding: .125em 0;
    border-left: 1px solid transparent;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li li {
    margin: 0;
    padding: .65em 0 .65em 20px;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li.is-opened .fa {
    transform: rotate(90deg);
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li.is-opened ul {
    display: block;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav__placeholder {
    display: none;
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fs-schedule-wg_reg .fs-schedule-wg__asided {
    margin-left: 210px;
}

.fs-schedule-wg_reg .form-control {
    padding: 1.25em 35px;
    background-image: none;
    text-align: center;
    border-radius: 4px;
}

.fs-schedule-wg_reg .btn {
    margin: 1em 0;
    padding: 1.25em 15px;
    width: 100%;
    font-size: inherit;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.fs-schedule-wg_reg .btn:hover {
    opacity: .9;
}

.fs-schedule-wg_reg .btn:disabled,
.fs-schedule-wg_reg .btn:disabled:hover {
    opacity: 1;
    cursor: default;
}

.fs-schedule-wg_reg .btn .fa {
    font-size: 1.25em;
    margin-right: 5px;
}

.fs-schedule-wg_reg .btn.fs-cancel-btn-book {
    background: #d3222c;
    box-shadow: 0 15px 30px -10px #d3222c;
}

.fs-schedule-wg_reg .fa.custom-control-indicator {
    display: block;
    top: 25%;
    width: 1.43em;
    height: 1.43em;
    background: none !important;
    border: 2px solid;
    font-size: inherit;
    text-align: center;
    border-radius: 4px;
    box-shadow: none !important;
    opacity: 1;
}

.fs-schedule-wg_reg .fa.custom-control-indicator:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -.5em;
    opacity: 0;
    text-indent: 1px;
}

.fs-schedule-wg_reg .custom-control-input:checked ~ .fa.custom-control-indicator:before {
    opacity: 1;
}

.fs-schedule-wg_reg .custom-radio .fa.custom-control-indicator {
    border-radius: 100%;
}

.fs-schedule-wg_reg .custom-radio .fa.custom-control-indicator:before {
    font-size: 9px;
}

.fs-schedule-wg_reg .fs-schedule-wg__params {
    margin-bottom: .5em;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__params .custom-control {
    display: block;
    margin: 0 0 .6em;
    padding: 0 0 0 30px;
    min-height: 0;
}

.fs-schedule-wg_reg .bootstrap-select * {
    outline: 0 none !important;
}

.fs-schedule-wg_reg .bootstrap-select .dropdown-menu {
    margin: 0;
    padding: .5em 0;
    font: inherit;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 0 4px 4px;
}

.fs-schedule-wg_reg .bootstrap-select .dropdown-menu a {
    display: block;
    padding: .5em 15px;
}

.fs-schedule-wg_reg .bootstrap-select .btn {
    margin: 0;
    box-shadow: none;
}

.fs-schedule-wg_reg .bootstrap-select .dropdown-toggle {
    outline: 0 none !important;
}

.fs-schedule-wg_reg .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
}

.fs-schedule-wg_reg .bootstrap-select.show .btn {
    border-radius: 4px 4px 0 0;
}

.fs-schedule-wg_reg .bootstrap-select.show .dropdown-menu {
    display: block;
}

.fs-schedule-wg_reg .bootstrap-select .dropdown-toggle:after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
    border-top-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px;
}

.fs-schedule-wg_reg .fs-schedule-wg__notice {
    padding: .5em 0;
    font-weight: 700;
    text-align: center;
}

.fs-schedule-wg_reg .fs-schedule-wg__notice .btn {
    margin: .5em 15px;
    padding: .75em 15px;
    width: auto;
}

.fs-schedule-wg_reg .fs-schedule-wg__notice .text {
    display: inline-block;
    vertical-align: middle;
    margin: .5em 15px;
    padding-top: .125em;
}

.fs-schedule-wg_reg .fs-schedule-wg__notice.is-alert {
    position: absolute;
    z-index: 333;
    top: 80px;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__services {
    margin-bottom: 3em;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item {
    margin-bottom: 10px;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__header {
    position: relative;
    padding: 1.5em 5%;
    border-radius: 4px;
    z-index: 10;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__status {
    margin: 0 65px .5em 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__status span {
    margin-right: 20px;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__status span:before {
    float: left;
    margin: .225em 6px 0 0;
    width: 0;
    height: 0;
    border: 5px solid;
    content: '';
    border-radius: 100%;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__status em {
    font-style: normal;
    white-space: nowrap;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__title {
    margin: 0 65px .75em 0;
    font-weight: 700;
    font-size: 1.125em;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__title span {
    text-align: left;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__meta {
    margin: .5em 65px 0 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__meta .fa {
    position: relative;
    top: .075em;
    width: 25px;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__meta .fa-clock-o {
    top: .125em;
    font-size: 1.125em;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__toggle {
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -25px;
    padding: 14px;
    width: 20px;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    text-indent: 3px;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 100%;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body {
    margin: 0 10px;
    position: relative;
    padding-bottom: 1em;
    border-radius: 0 0 4px 4px;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__subtitle {
    margin-bottom: .25em;
    font-weight: 700;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__section {
    position: relative;
    padding: .75em 5%;
    text-align: justify;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__section .fs-schedule-wg__services__item__meta {
    position: relative;
    margin: 0 0 -.5em;
    line-height: 1;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__section .fs-schedule-wg__services__item__meta:after {
    display: inline-block;
    width: 100%;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__section a {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__section span {
    display: inline-block;
    margin-right: 15px;
    text-align: left;
    float: left
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header {
    margin-bottom: 1em;
    padding-top: 1.75em;
    padding-bottom: 1em;
    border-bottom: 1px solid;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header:before {
    position: absolute;
    top: 50%;
    left: 5%;
    margin-top: -16px;
    width: 29px;
    height: 33px;
    background-size: 100%;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header .fs-schedule-wg__services__item__subtitle {
    margin: 0 0 -.25em 50px;
    line-height: 1;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header .fs-schedule-wg__services__item__subtitle:after {
    display: inline-block;
    width: 100%;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header .fs-schedule-wg__services__item__meta {
    margin-left: 50px;
    text-align: left;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header .fs-schedule-wg__services__item__meta strong {
    color: #0098ef;
    white-space: nowrap;
}

.fs-schedule-wg_reg .fs-schedule-wg__lnk_details .fa {
    display: none;
}

.fs-schedule-wg_reg .is-opened .fs-schedule-wg__services__item__toggle {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fs-schedule-wg_reg .is-custom .fs-schedule-wg__services__item__status,
.fs-schedule-wg_reg .is-custom .fs-schedule-wg__services__item__title,
.fs-schedule-wg_reg .is-custom .fs-schedule-wg__services__item__meta {
    margin-right: 0;
}

.fs-schedule-wg_reg .is-custom .fs-schedule-wg__services__item__title {
    margin: .5em 0 -.5em;
    line-height: 1;
    text-align: justify;
}

.fs-schedule-wg_reg .is-custom .fs-schedule-wg__services__item__title:after {
    display: inline-block;
    width: 100%;
    content: '';
}

.fs-schedule-wg_reg .is-custom .fs-schedule-wg__services__item__title a {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .is-custom .fs-schedule-wg__services__item__title span {
    display: inline-block;
    margin-right: 15px;
    text-align: left;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop {
    margin: 0 -15px;
    min-height: 150px;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item {
    float: left;
    width: 50%;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body {
    display: block;
    position: relative;
    margin: 0 15px 30px;
    padding: 30px;
    cursor: pointer;
    border-radius: 4px;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body .fa {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-indent: 4px;
    border-radius: 100%;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__section {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__title {
    margin-top: .4em;
    height: 3.75em;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.25;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__price {
    margin-top: .25em;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__wallet {
    position: relative;
    margin-bottom: 2.5em;
    padding: 40px;
    border-radius: 4px;
    text-align: right;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__wallet .btn {
    display: inline-block;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__sum {
    float: left;
    position: relative;
    padding: .33em 0 0 65px;
    text-align: left;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__sum:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -21px;
    width: 44px;
    height: 42px;
    background-size: 100%;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__account__sum strong {
    display: block;
    margin-bottom: .25em;
    font-size: 1.125em;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__day {
    margin-bottom: 1.5em;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__title {
    margin-bottom: .75em;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operations {
    padding: 20px 40px;
    border-radius: 4px;
    font-weight: 700;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation {
    position: relative;
    padding: 10px;
    border-radius: 4px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__icon {
    font-size: 20px;
    line-height: 0px;
    height: 0px;
    display: inline-block;
    vertical-align: middle;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__icon.is-expense {
    color: #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__icon.is-income {
    color: #1cca24;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation.can__hover:hover {
    background-color: rgba(211, 34, 44, 0.15);
    color: #d3222c;
    cursor: pointer
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__time {
    float: left;
    width: 65px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__title {
    margin-left: 65px;
    margin-right: 100px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__notice {
    font-weight: 400;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__sum {
    float: right;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__sum a {
    font-weight: 400;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__item {
    margin-bottom: 10px;
    padding: 25px 30px;
    border-radius: 4px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time {
    position: relative;
    margin-bottom: .75em;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time:before {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    margin-top: -1px;
    height: 2px;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time dl {
    position: relative;
    z-index: 2;
    float: left;
    margin: 0;
    padding-right: 20px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time dl + dl {
    float: right;
    padding: 0 0 0 20px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time dt {
    display: inline-block;
    margin-right: 16px;
    font-weight: 400;
    opacity: .6;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time dd {
    display: inline-block;
    margin: 0;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__title {
    margin-top: .75em;
    margin-bottom: .75em;
    font-weight: 700;
    font-size: 1.143em;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__info {
    float: left;
    max-width: 70%;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__info div {
    position: relative;
    padding-left: 20px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__info div + div {
    margin-top: .75em;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__info div:before {
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    content: '';
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__stats {
    float: right;
    margin-top: -1em;
    padding-top: 40px;
    min-width: 140px;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__stats strong {
    font-size: 1.143em;
}

.is-fullwidth .fs-schedule-wg_reg .fs-schedule-wg__body {
    padding-left: 60px;
    padding-right: 60px;
}

.is-fullwidth .fs-schedule-wg_reg .fs-schedule-wg__content {
    padding-top: 30px;
}

.is-wide .fs-schedule-wg_reg .fs-schedule-wg__content {
    max-width: 100%;
}

.ui-schedule-wg {
    font: 14px/1.43 'Roboto', sans-serif;
}

.fs-schedule-wg_reg .modal-header {
    display: block;
    padding: 2.5em 10% 1em;
    border: 0;
    font-weight: 700;
    font-size: 1.125em;
    text-align: center;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .modal-body {
    padding: 0 10% 1em;
    text-align: center;
}

.fs-schedule-wg_reg .modal-footer {
    display: block;
    padding: 0 10% 2em;
    border: 0;
    text-align: center;
}

.fs-schedule-wg_reg .modal-footer .btn {
    display: block;
    margin: 1em auto;
    width: 230px;
}

.fs-schedule-wg_reg .modal-footer_split {
    margin-top: 2em;
    text-align: right;
}

.fs-schedule-wg_reg .modal-footer_split .btn {
    display: inline-block;
    margin: 0;
}

.fs-schedule-wg_reg .modal-footer__price {
    float: left;
    padding: .25em 0 1.5em;
    text-align: left;
}

.fs-schedule-wg_reg .modal-footer__price div {
    margin-bottom: .5em;
}

.fs-schedule-wg_reg .modal-footer__price strong {
    font-size: 1.125em;
    text-transform: uppercase;
}

.fs-schedule-wg_reg .modal-close {
    position: absolute;
    top: -15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
}

.fs-schedule-wg_reg .modal_custom .modal-header,
.fs-schedule-wg_reg .modal_custom .modal-body {
    text-align: left;
}



/* BEGIN TEXT COLORS */

.fs-schedule-wg_reg {
    color: #2b2b2b;
}

.fs-schedule-wg_reg a {
    color: #0098ef;
}

.fs-schedule-wg_reg .btn {
    color: #fff;
}

.fs-schedule-wg_reg .btn.btn-cancel-button {
    opacity: 0.6
}

.fs-schedule-wg_reg .form-group.has-success:before {
    color: #45d718;
}

.fs-schedule-wg_reg .form-group.has-danger:before {
    color: #f91d2a;
}

.fs-schedule-wg_reg .custom-control-input:checked ~ .custom-control-indicator {
    color: inherit;
}

.fs-schedule-wg_reg legend {
    color: #ababab;
}

.fs-schedule-wg_reg .bootstrap-select .btn {
    color: inherit;
}

.fs-schedule-wg_reg .bootstrap-select .dropdown-menu a {
    color: inherit;
}

.fs-schedule-wg_reg .fs-schedule-wg__userbalance {
    color: #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav a {
    color: inherit;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav a {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav a:hover {
    color: inherit;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav a.current {
    color: #000;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li ul a {
    color: inherit;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav .fa {
    color: #bababa;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle {
    color: #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__notice {
    color: #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__notice .btn {
    background-color: #d3222c;
    color: white;
    box-shadow: 0 15px 30px -10px rgba(211, 34, 44, .5);
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__status {
    color: #afafaf;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__status.is-green span {
    color: #1cca24;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__status.is-red span {
    color: #fe2725;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__meta {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__meta .fa {
    color: #b6b6b6;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__meta strong {
    color: #000;
}

.fs-schedule-wg_reg .modal-footer a[data-dismiss] {
    color: inherit;
}

.fs-schedule-wg_reg .modal-footer a.btn[data-dismiss] {
    color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__lnk_details .fa {
    color: #000;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav a {
    color: inherit;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav a:hover,
.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li.current > a {
    color: #000;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__section {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body .fa {
    color: #fff;
}

.fs-schedule-wg_reg .modal-footer__price div {
    color: #797979;
}

.fs-schedule-wg_reg .modal-close {
    color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__title {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__sum {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__sum strong {
    color: #000;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__time {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__sum.is-expense {
    color: #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__sum.is-income {
    color: #1cca24;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__notice {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operation__notice.is-alert {
    color: #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__info {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__stats {
    color: #797979;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__stats strong {
    color: #000;
}

/* END TEXT COLORS */

/* BEGIN BACKGROUND AND BORDER COLORS */

.fs-schedule-wg_reg {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__body {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__header {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo {
    border-left-color: #f0f2f5;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo figure {
    border-color: #dcdcdc;
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav ul {
    background-color: #fff;
    border-color: #e7e7e7;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li ul {
    background-color: #fff;
    border-color: #e7e7e7;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav a.current {
    border-bottom-color: #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__nav__toggle {
    border-color: #dcdcdc;
}

.fs-schedule-wg_reg .form-control {
    background-color: #edeef0;
    border-color: #edeef0;
}

.fs-schedule-wg_reg .form-group.birthday-after {
    margin-bottom: 20px;
}

.fs-schedule-wg_reg .form-group.birthday-after .birthday-after-alert {
    color: #d5313f;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -25px;
    font-size: 12px;
}

.fs-schedule-wg_reg .fa.custom-control-indicator {
    border-color: #c5c5c5;
}

.fs-schedule-wg_reg .btn {
    background-color: #d3222c;
}

.fs-schedule-wg_reg .btn:disabled {
    background-color: #949494;
}

.fs-schedule-wg_reg .custom-select {
    background-color: #edeef0;
    border-color: #edeef0;
}

.fs-schedule-wg_reg .bootstrap-select .btn {
    background-color: #edeef0;
    border-color: #edeef0;
}

.fs-schedule-wg_reg .bootstrap-select .dropdown-menu {
    background-color: #edeef0;
    border-color: #edeef0;
    border-top-color: #d7d8da;
}

.fs-schedule-wg_reg .bootstrap-select .dropdown-toggle:after {
    border-top-color: #a5a6a8;
}

.fs-schedule-wg_reg .fs-schedule-wg__notice {
    background-color: #f9cccc
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__header {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__toggle {
    border-color: #ddd;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body {
    background-color: #fff;
    z-index: 5;
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body__header {
    border-color: #ddd;
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li ul {
    border-left-color: #b2c0d5;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body .fa {
    background-color: #b2c0d5;
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body:hover .fa {
    background-color: #d3222c;
}

.fs-schedule-wg_reg .modal-close {
    background: #b2c0d5;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__wallet {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operations {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__item {
    background-color: #fff;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time:before {
    background: #b2c0d5;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__time dl {
    background-color: #fff;
}



/* END BACKGROUND AND BORDER COLORS */

/* BEGIN BOX SHADOWS */

.fs-schedule-wg_reg .fs-schedule-wg__body {
/*    box-shadow: 0 25px 80px -10px rgba(0, 0, 0, .35);*/
    border: solid 1px #ddd;
}

.fs-schedule-wg_reg .fs-schedule-wg__header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo nav ul {
    box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
}

.fs-schedule-wg_reg .fs-schedule-wg__nav li ul {
    box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
}

.fs-schedule-wg_reg .btn {
    box-shadow: 0 15px 30px -10px #d3222c;
}

.fs-schedule-wg_reg .btn:disabled {
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, .25);
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__header {
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__body {
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body {
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.fs-schedule-wg_reg .fs-schedule-wg__shop__item__body:hover .fa {
    box-shadow: 0 4px 10px -4px #d3222c;
}

.fs-schedule-wg_reg .fs-schedule-wg__account__wallet {
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.fs-schedule-wg_reg .fs-schedule-wg__account__operations {
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.fs-schedule-wg_reg .fs-schedule-wg__account__history__item {
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}



/* END BOX SHADOWS */

@-webkit-keyframes preentry1 {
    0%,
    100% {
        opacity: 0
    }
    40%,
    60% {
        opacity: 1
    }
}

@keyframes preentry1 {
    0%,
    100% {
        opacity: 0
    }
    40%,
    60% {
        opacity: 1
    }
}

@-webkit-keyframes preentry2 {
    0% {
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1)
    }
    100% {
        -webkit-transform: scale3d(1.4, 1.4, 1);
        transform: scale3d(1.4, 1.4, 1)
    }
}

@keyframes preentry2 {
    0% {
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1)
    }
    100% {
        -webkit-transform: scale3d(1.4, 1.4, 1);
        transform: scale3d(1.4, 1.4, 1)
    }
}

#mobifitness_main_cont {
    margin-top: 0
}

.mg-schedule-wg__error {
    margin-top: 20px;
    color: #d3222c;
    font-size: 18px;
    text-align: center
}

.fs-schedule-wg_reg a[disabled="disabled"] {
    color: #aaaaaa;
    cursor: default;
    text-decoration: none;
}

.is-greeting .fs-schedule-wg_reg .fs-schedule-wg__content {
    padding-top: 0
}

.fs-schedule-wg__greeting__text {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center
}

.fs-schedule-wg__greeting__image img {
    max-width: 75%;
    display: block;
    margin: 0 auto
}

.fs-schedule-wg__activity {
    position: absolute;
    width: 100%;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 700;
    border-radius: 4px
}

.fs-schedule-wg__empty__list {
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 15px 20px;
    background: #f5f5f5;
    border-radius: 4px
}

.fs-schedule-wg__empty__list.fs-margin-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fs-schedule-wg__loading {
    height: 550px;
    overflow: hidden
}

.has-debt {
    margin-top: 70px
}

.fs-schedule-wg__loading .fs-schedule-wg__activity {
    display: block
}

.fs-schedule-wg_reg .fs-schedule-wg__aside__nav li.current > a {
    color: #d3222c
}

.fs-schedule-wg_reg .fs-schedule-wg__userinfo .no-deposit nav strong {
    margin-top: 8px
}

.fs-schedule-wg__debt_price {
    font-size: 18px;
    font-weight: 700;
    color: #d3222c;
    position: absolute;
    top: 33px;
    right: 55px
}

.fs-schedule-wg__no_debt_price {
    font-size: 24px;
    font-weight: 700;
    color: #d3222c;
    position: absolute;
    top: 60px;
    right: 30px
}

.fs-schedule-wg__service_freeze {
    color: #0098ef;
    cursor: pointer;
    display: inline-block
}

.fs-schedule-wg__service_freeze:hover {
    border-bottom: 2px solid #0098ef;
    margin-bottom: -2px
}

.fs-schedule-wg__service_freeze.disabled {
    cursor: default;
    color: #555;
    opacity: .75
}

.fs-schedule-wg__service_freeze.disabled:hover {
    border-bottom: 0 solid;
    margin-bottom: 0
}

.custom-position {
    position: absolute;
    top: 30px;
    right: 0
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__toggle.fa-spin {
    text-indent: 0
}

.fs-schedule-wg_reg .fs-schedule-wg__notice .btn[disabled="disabled"] {
    background-color: #949494;
    color: #fff;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, .25);
}

.fs-schedule-wg_reg .btn.btn-pay-no-deposit {
    max-width: 150px;
    padding: .5em 10px
}

.fs-schedule-wg__services__items {
    padding-top: 1em
}

.fs-schedule-wg__notice__activate {
    padding: .5em 0;
    font-weight: 700;
    text-align: left
}

.fs-schedule-wg_reg .modal-footer_split .btn.modal-button.btn-inline {
    display: inline-block
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__section .unfreeze {
    color: #1dca25;
    cursor: pointer;
    display: inline-block;
    float: left
}

.fs-schedule-wg_reg .fs-schedule-wg__services__item__section .unfreeze:hover {
    border-bottom: 2px solid;
    margin-bottom: -5px;
    padding-bottom: 3px
}

.fs-schedule-wg__notice__activate .btn {
    margin: .5em 15px;
    padding: .75em 15px;
    width: auto
}

.fs-schedule-wg__notice__activate .text {
    display: inline-block;
    vertical-align: middle;
    margin: .5em 15px;
    padding-top: .125em;
    margin-left: 30px
}

.fs-schedule-wg__notice__activate {
    color: #2b2b2b;
    background-color: rgba(28, 202, 36, 0.2)
}

.fs-schedule-wg__notice__activate .btn {
    box-shadow: 0 15px 30px -10px #7fbf81;
    background-color: #1cca24
}

.fs-schedule-wg__city__title {
    padding: 10px;
    text-align: left;
    background: #ebebeb;
    font-size: 14px;
    border-radius: 4px
}

.fs-schedule-wg__club__title,
.mf_schedule-wg__club__address {
    margin-bottom: 0
}

.fs-schedule-wg__club__title {
    font-size: 16px;
    font-weight: 600;
    color: #d3222c
}

.mf_schedule-wg__club__address {
    font-size: 12px
}

.fs-schedule-wg__club__data:hover {
    box-shadow: 0 15px 30px -10px #d3222c;
    background-color: #d3222c;
    color: #fff
}

.fs-schedule-wg__club__data:hover .fs-schedule-wg__club__title {
    color: #fff
}

.fs-schedule-wg__club__data:hover .fs-schedule-wg__club__address {
    color: #fff
}

.clear {
    clear: both
}

.fs-schedule-wg__account__club {
    width: 100%;
    margin-bottom: 5px
}

.fs-schedule-wg_reg .modal-footer_split .btn.modal-button {
    margin: 0 auto;
    display: block
}

.fs-schedule-wg__account__club p {
    display: inline-block;
    float: left
}

.fs-schedule-wg__club__data {
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
    background: transparent;
    border-radius: 4px
}

.fs-schedule-wg__club__change {
    color: #0098ef;
    cursor: pointer;
    float: right;
    display: inline-block;
    text-decoration: underline
}

.fs-schedule-wg_back__button {
    box-shadow: 0 15px 30px -10px #d3222c;
    background-color: #d3222c;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    min-width: 40px;
    text-align: center
}

.fs-schedule-wg__empty__history {
    font-size: 16px;
    margin-top: 10px
}

.is-fullwidth.is-schedule .fs-schedule-wg_reg .fs-schedule-wg__body {
    padding-left: 0;
    padding-right: 0
}

.fs-schedule-wg__pay_info {
    font-size: 16px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 20px;
    background: #d7f5db;
    border-radius: 4px
}

.paymo_error_icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 10px
}

.fs-filter-all {
    font-weight: 600
}

.paymo_wait_icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 20px
}

.paymo_success_icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 10px
}

.paymo_wait {
    background: #d8f1fd;
    border-radius: 4px
}

.paymo_success {
    background: #ebfbd9;
    border-radius: 4px
}

.paymo_error {
    background: #ffe1e1;
    border-radius: 4px
}

.paymo_block {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
}

.fs-schedule-wg-legend {
    padding: 20px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #797979;
    text-align: left;
    padding-left: 0;
    border-bottom: 1px solid #eee
}

.fs-schedule-wg-legend span {
    margin-right: 15px;
    white-space: nowrap;
}

.fs-schedule-wg-today-button.btn,
.fs-schedule-wg-print-button.btn {
    width: 130px;
    display: inline-block;
    padding: 9px;
    margin-right: 25px;
    box-shadow: none;
    background-color: #d3222c;
}

.fs-schedule-wg-print-button.btn {
    margin-right: 0px;
}

.fs-schedule-wg-print-wrapper,
.fs-schedule-wg-appl-wrapper {
    display: inline-block;
    float: right;
}

.fs-schedule-wg-appl-wrapper {
    padding: 15px 0 10px 15px;
}

.fs-schedule-wg-appl-wrapper .appl {
    margin-left: 20px;
    width: 123px;
    height: 40px;
    background: url(/img/stores.gif) no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 5px;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
}

.fs-schedule-wg-appl-wrapper .appl-appstore {
    background-position: 0 100%;
}

.fs-schedule-wg-appl-wrapper .appl-android {
    background-position: 0 0;
}

.fs-schedule-wg-period {
    display:flex;
    margin-left: 0;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
}

.fs-schedule-wg-period a.btn {
    display: inline-block;
    width: 36px;
    padding: 7px;
    margin: 0 5px;
    background: white;
    box-shadow: none;
    color: #d3222c;
}
.fs-schedule-wg-period span{
    white-space: nowrap;
}
.fs-schedule-wg-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.fs-schedule-wg-hour {
    width: 7%
}

.fs-schedule-wg-table {
    margin-top: 20px
}

.fs-clear {
    clear: both
}

.fs-modal-info {
    margin-bottom: 10px
}

.fs-modal-info i {
    width: 25px
}

.fs-modal-chain-title {
    display: inline;
    float: left;
    font-size: 1.85em;
    font-weight: 700;
    color: #d3222c
}

.fs-modal-chain-title.fs-text-center {
    display: block;
    text-align: center;
    float: none;
}

.fs-modal-chain-title a {
    display: inline;
    text-decoration: none;
    float: left;
    font-size: 1em;
    font-weight: 700;
    color: #d3222c;
    border-bottom: 2px solid;
}

.fs-modal-chain-time {
    display: inline;
    float: right;
    font-size: 1.75em;
    font-weight: 700;
    color: #d3222c
}

.fs-schedule-wg-table table {
    width: 100%;
    table-layout: fixed;
}

.special td,
.fs-schedule-wg-table.fs-table-lines th {
    background-color: #f8f8f8;
    padding: 5px 3px 0px 3px;
    text-align: center
}

.hideRow {
    display: none;
}

.fs-schedule-wg-table.fs-table-lines tbody tr:nth-child(even) td.current {
    background-color: #f5efd8 !important;
}

.fs-schedule-wg-table th:first-child.fs-schedule-wg-hour {
    width: 5.5%
}

.fs-schedule-wg-table th {
    width: 13%
}

/*.fs-schedule-wg-table tbody tr:nth-child(odd) td{background-color:#fff;padding:5px 3px 0px 3px;text-align:center}*/

.fs-schedule-wg-table tbody td {
    vertical-align: top
}

.fs-schedule-wg-table tbody td:first-child.fs-schedule-wg-hour {
    vertical-align: middle
}

.fs-schedule-wg-table th {
    text-transform: uppercase
}

.fs-schedule-wg-table th.current {
    background: #fdf4cf !important
}

.fs-schedule-wg-table td.current {
    background: #fff9e2 !important
}

.fs-schedule-cell {
    cursor: pointer;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
    background-color: #fff;
    text-align: left;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative
}

.fs-schedule-wg-cell-title {
    font-weight: 600;
    padding-bottom: 5px;
    width: 100%;
}

.fs-schedule-wg-cell-title div {
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: initial;
}

.fs-schedule-wg-cell-time {
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 5px;
    position: relative
}

.fs-schedule-wg-cell-descr {
    font-size: 10px;
    padding-bottom: 5px
}

.fs-schedule-wg-cell-train {
    font-size: 12px
}

.fs-cell-changed {
    background-color: rgb(230, 230, 230) !important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 75%, transparent 75%, transparent) !important;
}

.fs-modal-change-info {
    font-size: 16px;
    color: #d3222c;
    line-height: 22px;
    margin-bottom: 10px;
}

.fs-schedule-wg-canceled-alert {
    font-size: 12px;
    color: #d3222c;
    font-weight: 600;
    margin-top: 3px;
    line-height: 16px;
}

.fs-schedule-wg-filter {
    margin-left: -5px;
    margin-right: -5px;
}

.fs-schedule-wg-dropdown-value {
    background-color: #000000;
    border-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    position: relative;
    padding: 10px;
    margin: 12px 5px;
    cursor: pointer
}

.fs-schedule-wg-dropdown-value:after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border: 5px solid transparent;
    content: '.';
    text-indent: -9999px;
    overflow: hidden;
    border-top-color: #ffffff
}

.fs-schedule-wg-filter-col {
    display: inline-block;
    float: left
}

.fs-schedule-wg-dropdown {
    position: relative;
    z-index: 500
}

.opened .fs-schedule-wg-dropdown-options {
    display: block
}

.fs-filter-item {
    display: table;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 12px;
    padding-right: 22px
}

.fs-filter-item:hover {
    background: #efefef;
    border-radius: 4px
}

.fs-filter-item.fs-filter-active-item {
    border-radius: 4px
}

.fs-filter-item .ico {
    display: none;
}

.fs-filter-item.fs-filter-active-item .ico {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    margin-top: -.5em;
    line-height: 1;
    color: #2b2b2b
}

.fs-trainer-photo {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: left;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 0px
}

.fs-trainer-photo-container {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 0px;
    background: no-repeat center center;
    background-size: cover;
}

.fs-trainer-name {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
    width: 90%;
}

.fs-schedule-wg-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    max-height: 300px;
    background: #fff;
    overflow: auto;
    margin: 10px 2%;
    border-radius: 4px;
    display: none
}

.fs-preentry-block {
    padding: 20px 30px;
    background: #e4e4e4
}

.fs-modal-header,
.fs-modal-desc {
    padding: 30px
}

.fs-modal-header {
    padding-bottom: 10px;
    border-top: 5px solid #d3222c
}

.fs-modal-desc {
    padding-top: 10px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
}

.fs-modal-desc.fs-modal-desc-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.fs-filter-activity {
    padding-left: 20px
}

.is-fullwidth.is-schedule .fs-schedule-wg_reg .fs-schedule-wg__body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px
}

.is-fullwidth.is-schedule .fs-schedule-wg_reg .fs-schedule-wg__body.fs-schedule-wg__body__without-header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.is-fullwidth.is-schedule .fs-schedule-wg_reg .fs-schedule-wg__body.fs-schedule-wg__body__without-header .fs-schedule-wg__content {
    padding-top: 10px;
    padding-bottom: 20px;
}

.fs-schedule-wg_reg .btn.fs-schedule-wg-login-button,
.fs-schedule-wg_reg .btn.fs-schedule-wg-logout-button {
    width: auto;
    position: absolute;
    top: 7px;
    right: 20px;
    padding: 9px 18px;
    box-shadow: none
}

.custom-width-booking {
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
}

/**
 * It's only for schedule pay!
 */

.fs-schedule-wg_reg .fs-schedule-wg__body.fs-schedule-wg__body__without-header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.fs-schedule-wg_reg .fs-schedule-wg__body.fs-schedule-wg__body__without-header .fs-schedule-wg__after-schedule-text {
    top: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.fs-preentry-block-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    color: #d3222c
}

.fs-preentry-block-time {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa
}

.fs-schedule-wg-cell-slots {
    font-size: 12px;
    margin-top: 5px
}

.fs-schedule-cell .btn-preentry:before,
.fs-schedule-cell .btn-preentry:after {
    visibility: hidden;
    position: absolute;
    z-index: 111;
    top: 9px;
    left: 6px;
    margin: -27px 0 0 -27px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    content: '';
    opacity: 0;
    pointer-events: none;
    border: 2px solid;
    border-color: #999
}

.fs-schedule-cell:hover .btn-preentry:before,
.fs-schedule-cell:hover .btn-preentry:after {
    visibility: visible;
    -webkit-animation-name: preentry2, preentry1;
    animation-name: preentry2, preentry1;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.fs-schedule-cell:hover .btn-preentry:after {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

.fs-schedule-wg_reg .btn.fs-preentry-btn-book {
    width: 200px;
    margin: 0;
    padding: 13px;
    box-shadow: none;
    background-color: #d3222c
}

.fs-schedule-wg_reg .btn.fs-preentry-btn-book[disabled="disabled"] {
    background-color: #949494;
    color: #fff;
}

.fs-coach-block {
    padding: 30px
}

.fs-schedule-wg-popup-coach-img {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    height: 130px;
    overflow: hidden;
/*    border: 1px solid #efefef;*/
    padding: 15px;
    border-radius: 0;
    position: relative
}

.fs-schedule-wg-popup-coach-img.fs-schedule-wg-no-coach {
    border: 1px solid #ffffff;
    height: 105px;
    padding: 0px 15px;
}

.fs-schedule-wg-popup-coach-img.fs-schedule-wg-coach-need-slider {
    height: 160px;
}

.fs-schedule-wg-popup-coach-img img {
    width: 100px;
    height: 100px;
    margin: 0
}

.fs-schedule-wg-popup-coach-img .fa.fa-angle-left {
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    float: left;
    background: #d3222c;
    text-align: center;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px
}

.fs-schedule-wg-popup-coach-img .fa.fa-angle-right {
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    background: #d3222c;
    text-align: center;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px
}

.fs-schedule-wg-popup-room {
    font-size: 16px;
    margin: 5px 0;
    margin-bottom: 20px
}

.fs-schedule-wg-popup-coach-txt {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    width: 280px
}

.fs-schedule-wg-popup-coach-name,
.fs-schedule-wg-popup-coach-name a {
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    color: #d3222c
}

.more_trainer_info .fa.fa-vk {
    color: #fff;
    background: #3b5998;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px
}

.more_trainer_info .fa.fa-facebook {
    color: #fff;
    background: #3b5998;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px
}

.fs-popup-tabs {
    margin-top: 20px;
    border-bottom: 2px solid #d3222c
}

.fs-popup-tabs-content {
    margin-top: 20px;
    height: 200px;
    overflow: auto
}

.fs-popup-content-tab {
    display: none
}

.fs-popup-content-tab.fs-popup-active-content-tab {
    display: block;
    white-space: pre-line
}

.fs-popup-tabs .fs-popup-tab {
    display: inline-block;
    float: left;
    padding: 10px 20px;
    cursor: pointer
}

.fs-popup-active-tab {
    background: #d3222c;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
}

.more_trainer_info .fa.fa-instagram {
    color: #fff;
    background: #e73656;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px
}

.more_trainer_info a {
    text-decoration: none;
    color: #333;
    display: block
}

.user-name {
    cursor: pointer
}

.more_trainer_info i {
    width: 20px
}

.fs-schedule-wg-in-process {
    width: 100%;
    height: 30px;
    background-size: contain;
    margin-top: 50px
}

.fs-booking-error {
    color: #d3222c;
    margin-top: 25px;
    font-weight: 600;
    font-size: 16px
}

.fs-schedule-wg-days {
    margin: 10px auto;
    text-align: center
}

.fs-schedule-wg-day {
    display: inline-block;
    padding: 5px;
    color: #d3222c;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    margin: 0;
    border-radius: 4px;
    font-weight: 600
}

.fs-schedule-wg-day .fs-schedule-wg-day__date {
    font-size: 12px;
    display: block;
    margin-top: 0;
    color: #555;
    font-weight: normal;
}

.fs-schedule-wg-day-active {
    background: #d3222c;
    color: #fff
}

.fs-schedule-wg-day-active .fs-schedule-wg-day__date {
    color: #fff;
}

.is-fullwidth .fs-schedule-wg_reg .fs-schedule-wg__content.fs-schedule-wg__after-schedule {
    padding-top: 50px
}

.fs-schedule-wg_reg .fs-schedule-wg__after-schedule .fs-schedule-wg__aside {
    display: none
}

.fs-schedule-wg_reg .fs-schedule-wg__after-schedule .fs-schedule-wg__asided {
    margin-left: 0
}

.fs-schedule-wg_reg .btn.btn-shop-more {
    max-width: 150px;
    padding: 7px;
    margin: 10px 5%
}

.fs-schedule-wg__notice_bottom {
    text-align: center;
    padding: 0px 40px;
    padding-right: 56px;
}

.fs-schedule-wg__notice_bottom .text-sum {
    float: right;
    text-transform: none;
    color: #d3222c;
    font-size: 18px;
}

.fs-schedule-wg__notice_bottom .text {
    display: block;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0px;
    line-height: 20px;
    text-align: left
}

.fs-schedule-wg_reg .fs-schedule-wg__notice_bottom .btn {
    max-width: 200px;
    padding: 11px;
    margin: 0;
    display: inline-block;
    float: right
}

.fs-schedule-wg__after-schedule-text {
    position: absolute;
    z-index: 400;
    top: 80px;
    left: 0;
    padding: 3px;
    background: #85c555;
    color: #fff;
    width: 100%;
    text-align: center
}

.has-debt .fs-schedule-wg__after-schedule-text {
    top: 148px
}

#fs-club-tabs {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin-bottom: 0;
    padding-right: 100px;
}

.fs-selected-list {
    margin-top: 10px;
    background: #f8f8f8;
    border-radius: 4px
}

.fs-selected-club-change {
    display: inline-block;
    margin: 0 15px;
    color: #555;
    text-decoration: underline;
    cursor: pointer
}

.fs-selected-club {
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    border: 2px solid #d3222c;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px
}

#fs-club-tabs a {
    display: inline-block;
    float: left;
    padding: 10px 15px;
    color: #d3222c;
    text-decoration: none
}

#fs-club-tabs a.fs-active-club {
    background: #d3222c;
    color: #fff;
    border-radius: 4px
}

.fs-green-fixed {
    position: fixed;
    top: 0;
    width: 1110px;
    left: 50%;
    margin-left: -555px
}

.fs-schedule-desc {
    margin-top: 20px;
}

.fs-schedule-desc-type {
    padding-left: 20px;
}

.fs-schedule-desc-activity {
    padding-left: 20px;
}

.fs-schedule-desc-group h5 {
    margin: 12px 0px;
}

.fs-change-pass {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #999;
    margin-bottom: 30px;
}

.fs-schedule-wg-only-login-section {
    min-height: 50px;
}

/**
 * Personal schedule-wg
 */

.fs-schedule-wg__personal__wrapper {
    max-width: 500px;
    margin: 50px auto;
}

.fs-schedule-wg__personal__section {
    padding: 20px 40px;
    position: relative;
    min-height: 100px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.fs-schedule-wg__personal__section-select {
    cursor: pointer;
    min-height: 50px;
    width: 80%
}

.fs-schedule-wg__personal__section-title {
    color: #d3222c;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
}

.fs-schedule-wg__personal__arrow {
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -25px;
    padding: 14px;
    width: 20px;
    border: 1px solid #ddd;
    font-size: 20px;
    text-align: center;
    text-indent: 3px;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 100%;
}

.mf_schedule-wg__personal__service-services {
    margin-bottom: 15px;
    cursor: pointer;
    padding: 15px;
}

.mf_schedule-wg__personal__service-services:hover {
    background-color: rgba(180, 180, 180, 0.15);
    border-radius: 4px;
}

.mf_schedule-wg__personal__service-header > p {
    padding: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    background: #d3222c;
    font-weight: 700;
    color: white;
}

.mf_schedule-wg__personal__service-header .__service__title {
    font-weight: 700;
    text-transform: uppercase;
}

.mf_schedule-wg__personal__service-header .__service__description {}

.mf_schedule-wg__personal__service-header .__service__price {
    color: #797979;
    margin-bottom: 0;
}

.mf_schedule-wg__personal__service-header .__service__price span {
    display: block
}

.mf_schedule-wg__personal__service-header .__service__price span + span {
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: bold;
    color: #2b2b2b;
}

.mf_schedule-wg__personal__trainer {
    padding: 20px 40px;
    position: relative;
    min-height: 100px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.mf_schedule-wg__personal__trainer:hover {
    background-color: rgba(180, 180, 180, 0.15);
}

.mf_schedule-wg__personal__trainer .__trainer__title {
    color: #d3222c;
    text-transform: uppercase;
    padding-left: 120px;
    margin-bottom: 5px;
}

.mf_schedule-wg__personal__trainer.mf_any_trainer .__trainer__title {
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
}

.mf_schedule-wg__personal__trainer .__trainer__description {
    font-weight: normal;
    padding-left: 120px;
    margin-bottom: 0px;
}

.mf_schedule-wg__personal__trainer .__service__position {
    font-weight: 700;
    padding-left: 120px;
    margin-bottom: 5px;
}

.mf_schedule-wg__personal__trainer img {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.fs-schedule-wg__personal__book-form {
    margin-top: 20px;
}

.fs-schedule-wg__personal__book-block {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.fs-schedule-wg__personal__book-block:after {
    content: ' ';
    display: block;
    clear: both;
}

.fs-schedule-wg__personal__book-block div {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: left
}

.fs-schedule-wg__personal__book-block div.fs-schedule-wg__personal__book-block-title {
    text-align: left;
    font-weight: 600;
}

.fs-schedule-wg__personal__result-block {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
}

.fs-schedule-wg__personal__result-block.__result__success {
    background: #ebfbd9;
    border-radius: 4px
}

.fs-schedule-wg__personal__result-block .__result__success__icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 10px
}

.fs-schedule-wg__button-group {
    display: block;
    margin-bottom: 0;
}

.fs-schedule-wg_schedule__button,
.fs-schedule-wg_schedule__logout,
.fs-schedule-wg_schedule__login {
    box-shadow: 0 15px 30px -10px #d3222c;
    background-color: #d3222c;
    color: #fff;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    min-width: 40px;
    text-align: center;
    margin-left: 10px;
}

.mf_schedule-wg__calendar__month-top,
.mf_schedule-wg__calendar__day-top {
    display: inline-block;
    width: 32%;
    text-align: center;
    color: #d3222c;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.mf_schedule-wg__calendar__month-top.__current_month,
.mf_schedule-wg__calendar__day-top.__current_day {
    color: #ffffff;
    background: #d3222c;
}

.mf_schedule-wg__calendar__month-top .fa,
.mf_schedule-wg__calendar__day-top .fa {
    position: absolute;
    color: #dadada;
    font-size: 18px;
    top: 40%;
}

.__prev_month .fa,
.__prev_day .fa {
    left: 5px;
}

.__next_month .fa,
.__next_day .fa {
    right: 5px;
}

.mf_schedule-wg__calendar__month-top span,
.mf_schedule-wg__calendar__day-top span {
    font-size: 16px;
    color: #aaa;
    display: block;
    font-weight: 400;
}

.mf_schedule-wg__calendar__days {
    width: 100%;
    margin: 30px 0;
}

.mw_schedule-wg__calendar__day {
    text-align: center;
    background: #f1f1f1;
    border: 1px solid white;
    font-size: 14px;
}

.mw_schedule-wg__calendar__day span {
    color: #aaa;
    cursor: default;
    display: block;
    padding: 10px;
}

.mw_schedule-wg__calendar__day span.__active {
    color: #333;
    cursor: default;
}

.mw_schedule-wg__calendar__day span.__available {
    color: #d3222c;
    cursor: pointer;
    font-weight: 600;
}

.mf_schedule-wg__calendar__day-section {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.mf_schedule-wg__calendar__day-section__load {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
    background: #eee;
    font-size: 16px;
    color: #555;
}

.__section__title {
    color: #d3222c;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.__section__time {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 7px 14px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 4px;
}

/** pay frames **/

#general_modal.modal {
    z-index: 1100;
}

#paymo_frame {
    max-width: 100%;
    min-height: 800px;
}

/** modal sub-style **/

.modal-dialog {
    padding-top: 15px;
    margin: 0 auto;
}

.fa-float-left {
    float: left;
    margin-right: 5px;
    line-height: 20px;
}

/** disabled parts **/

.fs-schedule-wg__disabled {
    font-size: 16px;
    text-align: center;
    padding: 75px;
}

.disabled-schedule-wg .fs-schedule-wg_reg .fs-schedule-wg__notice.is-alert {
    display: none;
}

.disabled-schedule-wg .fs-schedule-wg_reg .fs-schedule-wg__header {
    display: none;
}

tfoot td {
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
    background-color: #fff;
    border-radius: 4px
}

.fs-schedule-wg_reg .form-booking .form-booking-left {
    display: inline-block;
    float: left;
    width: 50%;
}

.fs-schedule-wg_reg .form-booking .form-booking-right {
    display: inline-block;
    float: right;
    width: 45%;
}

.fs-schedule-wg_reg .form-booking .form-booking-right .btn {
    margin-top: 0px;
    background-color: #d3222c;
    box-shadow: none;
}

.fs-schedule-wg_reg .form-booking .form-control {
    padding: 1em 20px;
}

.fs-schedule-wg_reg .form-booking .btn[disabled="disabled"] {
    background-color: #949494;
    color: #fff;
}

.fs-schedule-wg_reg .form-booking .btn {
    padding: 1em 30px;
}

.fs-schedule-wg_reg .form-booking .custom-control-description {
    font-size: 12px;
    line-height: 14px;
    padding-left: 5px;
}




.fs-schedule-cell-wrap{
    page-break-after: auto;
}

.fs-schedule-cell-wrap-hide {
    display: none;
}

thead tr {
    display: table-row;
}

.shadow-bg{
    background: #0000004a;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.loader-bcg{
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 64px;
}
.loader-bcg span{
    width: 120px;
    margin-top: 64px;
    height: 120px;
    position: relative;
}

.loader-bcg span .fa-li{
    left: 50%;
    top: 0px;
    margin-left: -32px;
    
}

.availabile-number{
    
    background: #88d1e5;
    padding: 3px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;

}

.company-logo-wrap{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 40px 0 20px;
}
.company-logo{
    
    display: flex;
    align-items: center;
text-decoration: none!important;
}
.company-logo:hover{
    text-decoration:underline;
}
.company-logo{
    position: relative;
    color: #0054a4!important ;
}
.company-name{
    padding-right: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #0054a4!important    ;
    
}
.company-name span{
    font-size: 16px;
    color: #0054a4!important ;
}
.msg_error{
    display: none;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
}
.company-logo-wrap .logo{
    background-size: contain!important;
    width: 62px;
    height: 32px;

    display: block;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-image: url(/img/kit.png)!important;
    
}

.modal-open{
    overflow: visible!important;
}

.today-btn{
    box-shadow: none!important;
    width: auto!important;
    padding: 12px!important;
    margin-right: 10px!important;
}